@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins/Poppins-Regular.ttf");
}

* {
  font-family: 'Poppins';
  margin: 0px;
  padding: 0px;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #89CFF0;
}


.booksContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top {
  padding: 3em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.query {
  width: fit-content;
  border-radius: 5px;
  padding: 5px
}

.query:focus {
  outline: none;
  border: 2px solid #003060;
}

.btn {
  cursor: pointer;
  width: fit-content;
  margin: 0px auto;
  background-color: #f1f1f1;
  color: #003060;
  margin: 10px 0;
  padding: 9px 15px;
  border-radius: 10px;
  transform: scale(1);
  transition-duration: 300ms;
}

.btn:hover {
  background-color: #003060;
  color: #f1f1f1;
}

.descrip {
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: #f1f1f1;
  text-decoration: none;
  margin: 0px auto;
  height: fit-content;
  border-radius: 10px;
  padding: 25px;
  width: 60%;
  background: rgba(30, 29, 29, 0.8);
}

.close {
  position: absolute;
  bottom: 2em;
  background-color: #f1f1f1;
  padding: 9px 15px;
  border-radius: 5px;
  color: #003060;
  transition-duration: 200ms;
}

.close:hover {
  cursor: pointer;
  position: absolute;
  bottom: 2em;
  color: #f1f1f1;
  padding: 9px 15px;
  border-radius: 5px;
  background-color: #003060;
}

.link:hover{
  cursor: pointer;
  border-bottom: 2px solid #f1f1f1;
}